#about{

    width: 100%;
    height:100%;
    min-height: 100vh;
    background-color: rgba(17, 17, 19, 0.986);
    display: flex;
}
.break-image {
  width: 100px;          /* size ko small rakha */
  height: auto;
  filter: brightness(0) invert(1); /* black ko white banata hai */
  opacity: 1;         /* thoda soft white look */
}
.row p{
    color: rgb(87, 90, 92);
}

.education-details{
      background: linear-gradient(to right, rgb(161, 13, 124), rgb(117, 117, 117));
       background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.work-exp{
          background: linear-gradient(to right, rgb(161, 13, 124), rgb(117, 117, 117));
       background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph {
  font-size: 18px;       /* text size */
  line-height: 1.6;      /* spacing between lines */
  color: #686869 !important;        /* text-light jaisa light color */
         /* center align */
}

.card{

    background: #1e1e1e;
}

.education{
  color: rgba(224, 217, 217, 0.644);
}
.work-experience  {
  color: rgba(224, 217, 217, 0.644);
  
}
.certificates{
  color: rgba(224, 217, 217, 0.644);

}