@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* GLOBAL RESET */
html, body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

/* HOME SECTION */
#home {
  overflow: hidden;
  position: relative;
}

/* LEFT */
.lefthome {
  z-index: 2;
}

.homedetails {
  max-width: 480px;
}

.line1 {
  color: #00ffea;
  font-size: 20px;
}

.line2 {
  font-size: 36px;
  background: linear-gradient(to right, #8ecec8, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line3 {
  font-size: 26px;
  font-weight: 200;
  color: #00ffea;
}

/* BUTTONS */
.button-resume {
  padding: 6px 18px;
  background: #00ffea;
  color: #000;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.button-resume:hover {
  background: transparent;
  color: #00ffea;
  border: 1px solid #00ffea;
}

.button-project {
  padding: 6px 18px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid #00ffea;
  color: #fff;
}

.button-project:hover {
  color: #00ffea;
}

/* RIGHT */
.righthome {
  z-index: 1;
}

.code-box {
  background: rgba(30, 30, 30, 0.95);
  color: #00ffea;
  padding: 20px;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  font-family: "Fira Code", monospace;
  box-shadow: 0 0 30px rgba(0, 255, 200, 0.4);
}

/* CODE HEADER */
.code-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
}

.red { background: #ff5f56; }
.yellow { background: #ffbd2e; }
.green { background: #27c93f; }

.filename {
  margin-left: auto;
  font-size: 12px;
  color: #aaa;
}

/* MOBILE BACKGROUND EFFECT */
@media (max-width: 767px) {
  .line3{
    font-size: 20px;
  }
  .righthome {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.12;
    pointer-events: none;
  }

  .code-box {
    transform: rotate(-4deg);
    max-width: 90%;
  }
}


/* TABLET FIX : Center both sections */
@media (min-width: 768px) and (max-width: 1024px) {

  .lefthome,
  .righthome {
    justify-content: center !important;
    text-align: center;
  }

  .homedetails {
    margin: 0 auto;
  }

  .button-wrapper {
    justify-content: center !important;
  }
}
