.contact-section{

    width: 100%;
    height:100%;
    min-height: 100vh;
    background-color: rgba(17, 17, 19, 0.986);
    display: flex;
}
.form-control{
    background-color: rgb(51, 51, 50);
    color: white;
    border: 0;

}

#contact .form-label {
  color: #bcbebe !important;  
 
  
}

.form-control::placeholder {
  color: #aaaaaa7c;   /* light gray */
}


/* {button-animation} */
#contact .btn-primary {
  background: linear-gradient(135deg, #1b1a1a, #2a2a2b);
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 14px 40px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 8px 20px rgba(65, 73, 80, 0.4), 
              inset 0 -2px 6px rgba(255, 255, 255, 0.096);
  transition: all 0.35s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#contact .btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.034);
  transform: skewX(-25deg);
  transition: 0.5s;
  z-index: 0;
}

#contact .btn-primary:hover::before {
  left: 100%;
}

#contact .btn-primary:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 12px 24px rgba(25, 126, 204, 0.171);
}

.form-control:focus {
  background-color: rgb(51, 51, 50); /* same dark background */
  color: white; /* keep text white */
 /* custom border color */
  box-shadow: 0 0 0 0.2rem rgba(90, 148, 148, 0.25); /* subtle glow */
}