.navbar-container {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(17, 17, 19, 0.986);
  z-index: 1000;
}

.heading {
  font-size: 30px;
  background: linear-gradient(to right, rgb(64, 188, 197), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active {
  color: aqua;
  border-bottom: 2px solid white;
}

.desktop {
  gap: 20px;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ul a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

ul a:hover {
  color: aqua !important;
  border-bottom: 2px solid white;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1001;
  position: absolute;
  top: 25px;
  right: 15px;
}
.desktop a {
  color: rgb(184, 181, 181) !important;

}



.ham {
  width: 30px;
  height: 2px;
  background-color: aliceblue;
  transition: all 0.5s;
}
.nav ul li{
  color: aliceblue;
}

.activeham .ham:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.activeham .ham:nth-child(2) {
  opacity: 0;
}

.activeham .ham:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}


.mobile {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: rgba(17, 17, 19, 0.986);
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile .nav-link {
  color: white;
  font-size: 18px;
}

.mobile .nav-link:hover {
  color: aqua;
  border-bottom: 2px solid white;
}


@media (max-width: 750px) {
  .desktop {
    display: none;
  }
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
