.footer-section {
  background: #111;
  color: #fff;
  padding: 20px 0;
}

.footer-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.footer-brand h2 {
  font-size: 1.5rem;
  background: linear-gradient(to right, rgb(64, 188, 197), white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.footer-contact p {
  margin: 0;
  font-size: 0.95rem;
  color: #ccc;
}

.footer-contact p:hover {
  color: #fff;
  transition: 0.3s ease;
}

.separator {
  color: #5a9494;
}


.footer-social {
  display: flex;
  gap: 15px;
}

.social-icon {
  color: #beb7b7;
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  color: #ffffff;
  transform: scale(1.2);
}
